/* CSS for menus with only buttons. */

h1 {
	text-align: center;
	font-family: calibri;
	font-size: 40;
}

#myCanvas {
	/* Need both to centre the canvas. */
	display: block;
	margin: auto;
	
	border: solid 3px black;
}

#btnClear {
	cursor: pointer;
	display: block;
	margin: auto;
	margin-top: 20px; 
}