h1 {
	text-align: center;
	font-family: calibri;
	font-size: 40;
}

.btnGame {
	border-radius: 5px;
	height: 75px;
	width: 200px;
	font-family: calibri;
	text-align: center;
	font-weight: bold;
	font-size: 20;
	cursor: pointer;
	display: block; /* Keeps buttons vertical. */
	margin: auto; /* Centres the buttons. */
	margin-bottom: 20px; /* Gaps between the buttons. */
}

.btnGameSelect {
	border-radius: 5px;
	height: 37.5px;
	width: 200px;
	font-family: calibri;
	text-align: center;
	font-weight: bold;
	font-size: 20;
	cursor: pointer;
	display: block; /* Keeps buttons vertical. */
	margin: auto; /* Centres the buttons. */
	margin-bottom: 20px; /* Gaps between the buttons. */
}

div#memory_board {
	width: 650px;
	height: 490px;
	padding: 24px;
	margin: auto;
	border-radius: 5px;
	margin-bottom: 20px;
	border: #000 1px solid;
}

div#memory_board div {
	border: #000 1px solid;
	border-radius: 5px;
	width: 100px;
	height: 100px;
	float: left;
	margin: 10px;
	padding: 20px;
	font-size: 30px;
	cursor: pointer;
	text-align: center;
	font-family: calibri;
}

.btnBack {
	border-radius: 5px;
	height: 37.5px;
	width: 100px;
	font-family: calibri;
	text-align: center;
	font-weight: bold;
	font-size: 24;
	cursor: pointer;
	display: block;
	margin: auto;
}