h1 {
	text-align: center;
	font-family: calibri;
	font-size: 40px;
}

div {
	text-align: center;
	margin-bottom: 20px;
}

input {
	border-radius: 5px;
	height: 100px;
	width: 125px;
	font-family: calibri;
	font-weight: bold;
	font-size: 50px;
	cursor: pointer;
	display: inline-block;
	text-align: center;

	/* effectively gives a 20px margin between each button (from the sides) */
	margin-left: 10px;
	margin-right: 10px;
}

.btnBack {
	border-radius: 5px;
	height: 37.5px;
	width: 100px;
	font-family: calibri;
	text-align: center;
	font-weight: bold;
	font-size: 24px;
	cursor: pointer;
	display: block;
	margin: auto;
}