h1 {
	text-align: center;
	font-family: calibri;
	font-size: 40;
}

h2 {
	text-align: center;
	font-family: calibri;
	font-size: 30;
}


pre {
	font-size: 25;
	font-weight: bold;
	font-family: calibri;
}

.leftBox {
	border: solid;
	position: absolute;
	right: 50%;
	margin-top: 20px;
	width: 25%;
	height: 400px;
	border-radius: 5px;
}

.rightBox {
	border: solid;
	position: absolute;
	left: 50%;
	margin-top: 20px;
	width: 25%;
	height: 400px;
	border-radius: 5px;
}

.pronunciation1{
	border-radius: 5px;
	height: 46.875px;
	width: 60px;
	font-family: calibri;
	text-align: center;
	font-size: 30;
	cursor: pointer;
	position: absolute;
	left: calc(50% + 70px);
	margin-top: 90px;
}

.pronunciation2{
	border-radius: 5px;
	height: 46.875px;
	width: 60px;
	font-family: calibri;
	text-align: center;
	font-size: 30;
	cursor: pointer;
	position: absolute;
	left: calc(50% + 70px);
	margin-top: 185px;
}

.btnBack {
	border-radius: 5px;
	height: 37.5px;
	width: 100px;
	font-family: calibri;
	text-align: center;
	font-weight: bold;
	font-size: 24;
	cursor: pointer;
	margin-top: 440px;
	position: absolute;
	left: calc(50% - 50px);
}