h1 {
	text-align: center;
	font-family: calibri;
	font-size: 40;
}

h2 {
	text-align: center;
	font-family: calibri;
	font-size: 30;
}

td {
	font-size: 16pt;
	font-weight: bold;
	font-family: calibri;
	padding-left: 10px;
}

#spacing-row {
	padding-bottom: 30px;
}

.leftBox {
	border: solid;
	position: absolute;
	right: 50%;
	width: 300px;
	height: 300px;
	border-radius: 5px;
}

.rightBox {
	border: solid;
	position: absolute;
	left: 50%;
	width: 300px;
	height: 300px;
	border-radius: 5px;
}

.btn-pronunciation {
	border-radius: 5px;
	height: 50px;
	width: 60px;
	font-family: calibri;
	text-align: center;
	font-size: 16pt;
	cursor: pointer;
}

.btnBack {
	border-radius: 5px;
	height: 37.5px;
	width: 100px;
	font-family: calibri;
	text-align: center;
	font-weight: bold;
	font-size: 24;
	cursor: pointer;
	margin-top: 330px;
	position: absolute;
	left: calc(50% - 50px);
}